# Fixed requirements file for creating a python environment for
# macOS Orange.app.

# Prebuild dependencies that themself do not publish wheels (e.g. bottleneck)
--find-links=https://orange.biolab.si/download/files/wheelhouse

--extra-index-url=https://pypi.anaconda.org/ales-erjavec/simple

--only-binary numpy,scipy,scikit-learn,PyQt5,opentsne

numpy~=1.24.0
scipy~=1.10.0
scikit-learn~=1.3.0
bottleneck~=1.3.0
joblib==1.2.0
chardet~=5.0
keyring~=23.0
keyrings.alt~=4.0
AnyQt~=0.2.0

PyQt5~=5.15.4
pyqtwebengine~=5.15.4

docutils~=0.18.0
pip~=23.3.1
pyqtgraph~=0.13.1
xlrd~=2.0
xlsxwriter
serverfiles
opentsne~=0.7.1
python-louvain>=0.13
pandas~=1.5.0
xgboost
catboost~=1.1.1  # catboost 1.2 wheels do not support macos <11

h5py
opusFC>=1.3.0
lmfit~=1.2.2

# use the same webengine as Orange 3.36.2 release (newer .12 does not work on a Big sur Mac)
PyQtWebEngine-Qt5==5.15.2