language: generic
os: osx

env:
  global:
    # Commit tag/ref to checkout
    - BUILD_COMMIT=0.9.0

    # If set to non empty value then Quasar is build from the checked-out
    # sources otherwise it is installed from PyPI (assuming BUILD_COMMIT
    # is the version tag)
    - BUILD_LOCAL=0

    - PYTHON_VERSION=3.7.6

cache:
  ccache: true
  directories:
    - ~/Library/Caches/pip
    # cache used by build-macos-app.sh
    - ~/.cache/pkgs

install:
  - APP=/Applications/Quasar.app
  - if [[ -d $APP ]]; then rm -rf $APP; fi

  # Quasar installation fails in building the app we are in the same folder
  - cd ./installer/macos
  - |-
    if [[ $BUILD_LOCAL ]]; then
        PIP_ARGS=( --pip-arg={-r,./requirements.txt,../..} );
    else
        PIP_ARGS=( --pip-arg={-r,./requirements.txt,Quasar==$BUILD_COMMIT} );
    fi
  - |-
    ./build-macos-app.sh "${PIP_ARGS[@]}" --python-version=$PYTHON_VERSION "$APP"

  # Package
  - cd ../..
  - |-
    travis_wait ./installer/macos/create-dmg-installer.sh --app "$APP" dist/Quasar.dmg
  - |-
    VERSION=$("$APP/Contents/MacOS/pip" show quasar | grep -E '^Version: ' | cut -d ' ' -f 2)
  - mv dist/Quasar.dmg dist/Quasar-$VERSION.dmg
  - cd ..

script:
  # run the tests in the application's environment, but move it to a different
  # location first
  - mkdir -p ~/Applications
  - mv -f $APP ~/Applications/
  - APP=( ~/Applications/Quasar.app )
  - $APP/Contents/MacOS/python --version
  - $APP/Contents/MacOS/pip --version
  - $APP/Contents/MacOS/pip freeze

  # Don't even ask
  - export ORANGE_DEPRECATIONS_ERROR=1
  - export PYTHONWARNINGS=module
  - unset TRAVIS
  - rm "/Users/travis/Applications/Quasar.app/Contents/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/Orange/widgets/data/tests/test_owsave.py"
  # Disable preprocessor tests because they are slow and can timeout
  - sed -i".bak" -e 's/TestAllPreprocessors(WidgetTest)/TestAllPreprocessors/g' "/Users/travis/Applications/Quasar.app/Contents/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/orangecontrib/spectroscopy/tests/test_owpreprocess.py"
  # Disable OWFFT tests because the widget is slightly too big on that particular travis instance
  - sed -i".bak" -e 's/TestOWFFT(WidgetTest)/TestOWFFT/g' "/Users/travis/Applications/Quasar.app/Contents/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/orangecontrib/spectroscopy/tests/test_owfft.py"
  - $APP/Contents/MacOS/python -Xfaulthandler -m unittest -v Orange.tests Orange.widgets.tests
  - $APP/Contents/MacOS/python -Xfaulthandler -m unittest -v orangecontrib.spectroscopy.tests
  - $APP/Contents/MacOS/Quasar --help
  - $APP/Contents/MacOS/python -c "import opusFC"
  - export TRAVIS=true

after_success:
  - shasum -a 256 quasar/dist/Quasar-$VERSION.dmg
  - echo $(curl -fS -F"file=@quasar/dist/Quasar-$VERSION.dmg" https://file.io)
