language: generic
os: osx

env:
  global:
    # Commit tag/ref to checkout
    - BUILD_COMMIT=0.3.1

    # If set to non empty value then Quasar is build from the checked-out
    # sources otherwise it is installed from PyPI (assuming BUILD_COMMIT
    # is the version tag)
    - BUILD_LOCAL=0

cache:
  ccache: true
  directories:
    - ~/Library/Caches/pip
    # cache used by build-macos-app.sh
    - ~/.cache/pkgs

install:
  - APP=/Applications/Quasar.app
  - if [[ -d $APP ]]; then rm -rf $APP; fi

  # Quasar installation fails in building the app we are in the same folder
  - cd ./installer/macos
  - |-
    if [[ $BUILD_LOCAL ]]; then
        PIP_ARGS=( --pip-arg={-r,./requirements.txt,../..} );
    else
        PIP_ARGS=( --pip-arg={-r,./requirements.txt,Quasar==$BUILD_COMMIT} );
    fi
  - |-
    ./build-macos-app.sh "${PIP_ARGS[@]}" "$APP"

  # Package
  - cd ../..
  - |-
    ./installer/macos/create-dmg-installer.sh --app "$APP" dist/Quasar.dmg
  - |-
    VERSION=$("$APP/Contents/MacOS/pip" show quasar | grep -E '^Version: ' | cut -d ' ' -f 2)
  - mv dist/Quasar.dmg dist/Quasar-$VERSION.dmg
  - cd ..

script:
  # run the tests in the application's environment, but move it to a different
  # location first
  - mkdir -p ~/Applications
  - mv -f $APP ~/Applications/
  - APP=( ~/Applications/Quasar.app )
  - $APP/Contents/MacOS/python --version
  - $APP/Contents/MacOS/pip --version
  - $APP/Contents/MacOS/pip freeze

  # Don't even ask
  - export ORANGE_DEPRECATIONS_ERROR=1
  - export PYTHONWARNINGS=module
  - unset TRAVIS
  - $APP/Contents/MacOS/python -Xfaulthandler -m unittest -v Orange.tests Orange.widgets.tests
  - $APP/Contents/MacOS/python -Xfaulthandler -m unittest -v orangecontrib.spectroscopy.tests
  - $APP/Contents/MacOS/Quasar --help
  - $APP/Contents/MacOS/python -c "import opusFC"
  - export TRAVIS=true

after_success:
  - shasum -a 256 quasar/dist/Quasar-*.dmg
  - echo $(curl -fS --upload-file quasar/dist/Quasar-*.dmg https://transfer.sh/)

