clone_depth: 30

image: Visual Studio 2019

environment:
  global:
    # Commit ref/tag to checkout
    BUILD_COMMIT: 1.0.0

    # Build the package locally or use the build packages from
    # conda-forge / PyPI. Unsupported!
    BUILD_LOCAL:

    PIP_DISABLE_PIP_VERSION_CHECK: 1

    # build env dependencies for building orange3 wheels or any of its
    # dependencies that do not have wheels available
    BUILD_DEPS: wheel==0.29.0 pip~=19.0

  # Note the python version here refers to the one included in the installer
  # not the one used for building/packaging
  matrix:
    - PYTHON_VERSION: '3.8.8'
      PLATTAG: win_amd64
      CONDA: C:\Miniconda37-x64\Scripts\conda
      PYTHON: C:\Miniconda37-x64\python
      MINICONDA_VERSION: 'py38_4.9.2'
      CONDA_BUILD_VERSION: '3.18.*'
      CONDA_USE_ONLY_TAR_BZ2: "1"
      CONDA_SPEC_FILE:
      # CONDA_SPEC_FILE: ..\specs\win\conda-spec.txt

matrix:
  fast_finish: true

cache:
  - '%LOCALAPPDATA%\pip\Cache -> appveyor.yml'
  - '.cache -> appveyor.yml'

build_script:
  - set "PATH_BEFORE_BUILD=%PATH%"
  - set "PATH=C:\msys64\usr\bin;C:\Program Files (x86)\NSIS;%PATH%"

  - if not "%CONDA%" == "" ( rmdir /q /s "C:\Program Files (x86)\Windows Kits\10\include\wdf" )
  - if not "%CONDA%" == "" ( ci\appveyor-conda-build.bat )
  - if "%CONDA%" == "" ( ci\appveyor-build.bat )

  - for %%s in ( dist/Quasar*.exe ) do ( set "INSTALLER=%%s" )
  - echo INSTALLER = %INSTALLER%

  - set "PATH=%PATH_BEFORE_BUILD%"

test_script:
  # cleanup registry of anaconda reg keys
  - reg delete HKEY_LOCAL_MACHINE\Software\Python\ContinuumAnalytics /f || cd .
  - reg delete HKEY_CURRENT_USER\Software\Python\ContinuumAnalytics /f || cd .
  - dir dist
  # Install in silent mode. Output has to be piped somewhere so the installer
  # runs 'attached' to the console.
  - dist\%INSTALLER% /S /D=C:\test-install > nul
  # The venv and conda envs create different install layouts.
  - if "%CONDA%" == "" ( set "PYTHON=C:\test-install\Scripts\python" )
  - if not "%CONDA%" == "" ( set "PYTHON=C:\test-install\python" )
  - >-
    "%PYTHON%" --version
  - >-
    "%PYTHON%" -m pip --version
  - >-
    "%PYTHON%" -m pip list --format=freeze
  # Test that orange and all dependencies are installed in a consistent state
  - >-
    "%PYTHON%" -m pip install --no-index --no-cache-dir orange3

  # Run test suite in the installed environment.
  - set ORANGE_DEPRECATIONS_ERROR=1
  - set PYTHONWARNINGS=module

  - >-
    "%PYTHON%" -m unittest -v Orange.tests Orange.widgets.tests || cd .
  - >-
    "%PYTHON%" -m unittest -v orangecontrib.spectroscopy.tests || cd .
  - >-
    "%PYTHON%" -m quasar --help
  - >-
    "%PYTHON%" -c "import opusFC"
  - mkdir installers
  - move dist\%INSTALLER% installers\

  # Log the filename and the sha checksum
  - for /f %%s in ( 'sha256sum -b installers/%INSTALLER%' ) do ( set "CHECKSUM=%%s" )
  - echo INSTALLER = %INSTALLER%
  - echo SHA256    = %CHECKSUM%


artifacts:
  - path: installers\*
  - path: conda-pkgs\*
