# Ref https://docs.python.org/2/distutils/sourcedist.html#commands
recursive-include quasar *.ows icons/*
global-exclude __pycache__

prune scripts/
prune specs/

include README.pypi
include requirements.txt
