# Fixed requirements file for creating a python environment for
# macOS Orange.app.

# Prebuild dependencies that themself do not publish wheels (e.g. bottleneck)
--find-links=https://orange.biolab.si/download/files/wheelhouse

--extra-index-url=https://pypi.anaconda.org/ales-erjavec/simple

--only-binary numpy,scipy,bottleneck,scikit-learn,PyQt5,opentsne

numpy~=1.15.4
scipy~=1.1.0
AnyQt>=0.0.8
Bottleneck~=1.2.0
chardet~=3.0
docutils==0.13.1
joblib==0.11
keyring==10.3.1
keyrings.alt==2.2
PyQt5~=5.9.1
pyqtgraph==0.10.0
scikit-learn~=0.20.1
six==1.10.0
pip~=9.0.1
xlrd==1.0.0
matplotlib~=2.2.3
opentsne~=0.3.0
python-louvain>=0.13
opusFC~=1.2.0
Orange3==3.20.1
orange-spectroscopy==0.4.3
